// If you want to override variables do it here
@import "variables";

// Import styles with default layout.
// If you are going to use dark layout please comment next line
@import "~@coreui/coreui-pro/scss/coreui";

// Import styles with dark layout
// If you want to use dark layout uncomment next line
//@import "~@coreui/coreui-pro/scss/themes/dark/coreui-dark";

// If you want to add something do it here
@import "custom";

// ie fixes
@import "ie-fix";

// Container
.container {
  width: 100%;
  max-width: 100%;
  padding: 0px;
}
a {
  text-decoration: none;
}



.row {
  width: 100%;
  max-width: 80%;
  margin: 0 auto;
}

input{ 
  width: 100%!important;
  padding: 10px!important;
  height: 35px!important;
  border: 1px solid #526173!important;
  border-radius: 0!important;
}

button{
  width: 250px!important;
  min-width: 60px!important;
  border-radius: 0!important;
  padding: 10px 20px!important;
  font-size: 20px!important;
  font-weight: 600!important;
}

.btn-primary{
  background-color: #526173 !important;
}


// HEADER
.header {
  max-width: 100%;
  width: 100%;
  margin: 0;
  padding: 10px 50px;
  background-color: #fff;
  position: relative;
  box-shadow: 1px 0px 5px rgba(77, 77, 77, 0.2);
  -webkit-box-shadow: 1px 0px 5px rgba(77, 77, 77, 0.2);
  -moz-box-shadow: 1px 0px 5px rgba(77, 77, 77, 0.2);
  div {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 0px;
  }
  .logo {
    margin-top: 10px;
  }
  ul {
    li.nav-item {
      list-style: none;
      text-align: right;
    }
  }
  .menu {
    padding-top: 15px;
    a {
      font-size: 16px;
      font-weight: 600;
      color: #000;
      text-decoration: none;
      border-bottom: 3px solid #c19c20;
      margin-right: 15px;
    }
  }
}

// Footer
.footer {
  height: 60px;
  padding: 20px 50px;
  font-size: 16px;
  font-weight: 600;
  color: #000;
  background-color: #fff;
  width: 100%;
  max-width: 100%;
}

// PAGE INITIAL

.PageInitial {
  .banner {
    padding-left: 30%;
    padding-top: 100px;
    width: 100%;
    max-width: 100%;
    height: 600px;
    background-image: url("./assets/images/main-bg.jpg");
    h1,
    h3 {
      font-family: "Montserrat", sans-serif;
    }
    a.registerCandidate {
      color: #fff;
      background-color: #273a50;
      padding: 10px;
      font-size: 16px;

      text-decoration: none;
    }
    a.registerCompany {
      color: black;
      text-decoration: underline;
      font-size: 18px;
      font-weight: 600;
    }
  }
  .banner-secondary {
    width: 100%;
    max-width: 100%;
    height: 300px;
    overflow-x: hidden;
    div {
      padding-top: 30px;
      position: relative;
      i {
        color: #fff;
        font-size: 50px;
      }
      h3 {
        color: #fff;
        font-size: 24px;
      }
      p {
        color: #fff;
        font-size: 18px;
      }
    }

    .banner-candidate {
      background: #a53d3d;
      .big {
        font-size: 240px;
        position: absolute;
        right: -80px;
        top: 10%;
        color: rgba(255, 255, 255, 0.1);
      }
    }
    .banner-company {
      background: #203b8c;
      .big {
        font-size: 240px;
        position: absolute;
        right: -80px;
        top: 10%;
        color: rgba(255, 255, 255, 0.1);
      }
    }
  }
}

// Login
.AppLogin, .AppRegisterCandidato, .AppRegisterCompany {
  height: 1000px;
  background: #141e30; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #243b55, #141e30); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #243b55,
    #141e30
  );
  background-size: 100%;
  position: relative;
  padding: 50px 0;
  .login, .registerCandidate {
    background-color: #FFF;
    height: auto;
    border-radius: 10px;
    padding: 20px;
    .form{
      padding-top: 50px;
      width: 70%;
      margin: 0 auto;
      button{
        margin-top: 10px;
        width: 100%!important;
      }
    }
  }
}



.notification-title {
  font-size: 18px;
}

.notification-content {
  font-size: 16px;
}



.vdp-datepicker{
  border: 1px solid #526173!important;
  input{
    border: none!important;
  }
}

.is-invalid {
  border: 1px solid #f86c6b!important;
  padding-right: calc(1.5em + 0.75rem);
}

.invalid-feedback {
  display: block;
  font-size: 14px;
}

a:hover, button:hover {
  opacity: 0.6!important;
}